/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 90, segment/*.png */
.segment-sprite, .segment-b, .segment-bl, .segment-br, .segment-m, .segment-t, .segment-tl, .segment-tr {
  background: url('../images/segment-s30270cc269.png') no-repeat;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.segment-b {
  background-position: 0 -70px;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.segment-bl {
  background-position: 0 -140px;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.segment-br {
  background-position: 0 -210px;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.segment-m {
  background-position: 0 -35px;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.segment-t {
  background-position: 0 0;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.segment-tl {
  background-position: 0 -105px;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.segment-tr {
  background-position: 0 -175px;
}

/* line 9, ../sass/screen.scss */
.countdown {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/h4-blank.jpg?1348647661');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 720px;
  height: 960px;
}
/* line 11, ../sass/screen.scss */
.countdown.debug {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/h4.jpg?1348637861');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 720px;
  height: 960px;
}

/* line 16, ../sass/screen.scss */
.timer {
  width: 300px;
  height: 100px;
  /*background-color: #c00;*/
  position: relative;
  top: 400px;
  left: 130px;
}

/* line 25, ../sass/screen.scss */
.digit {
  width: 23px;
  height: 35px;
  float: left;
  margin-right: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 33, ../sass/screen.scss */
.digit div {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 35px;
}
